# --- Configuración de Base de Datos (Conectado a nodo-db-core .10) ---
DB_HOST=192.168.1.10
PG_USER=nodo_user
PG_PASS=nodo_2026*
PG_DB=authentik_db
REDIS_HOST=192.168.1.10

# --- Seguridad de la Aplicación ---
# IMPORTANTE: Genera una clave única ejecutando en tu terminal:
# openssl rand -base64 36
AUTHENTIK_SECRET_KEY=TU_CLAVE_SUPER_SECRETA_GENERADA_AQUI

# --- Configuración de Log (Nivel Enterprise) ---
AUTHENTIK_LOG_LEVEL=info

# --- Configuración de Correo (Opcional pero recomendado para recuperar contraseñas) ---
# Si decides integrarlo más adelante, aquí irían tus variables SMTP
# AUTHENTIK_EMAIL__HOST=smtp.tu-servidor.com
# AUTHENTIK_EMAIL__PORT=587
# AUTHENTIK_EMAIL__USERNAME=tu-usuario
# AUTHENTIK_EMAIL__PASSWORD=tu-clave
# AUTHENTIK_EMAIL__USE_TLS=true
# AUTHENTIK_EMAIL__FROM=autenticacion@tudominio.com
